@charset "UTF-8";
@import  "main.css";
@namespace     "http://www.w3.org/1999/xhtml";
@namespace svg "http://www.w3.org/2000/svg";

/* At Rules */
  /* Keyframes */
    /* Avatar */
    @keyframes avatar {
      50% {
        -ah-transform    : translate(0, 5px);
        -ms-transform    : translate(0, 5px);
        -o-transform     : translate(0, 5px);
        -webkit-transform: translate(0, 5px);
        transform        : translate(0, 5px)
      }
    }

    /* Background (Color, Size) */
    @keyframes background-color {
      50% {
        -ms-filter    : "hue-rotate(595deg) progid:DXImageTransform.Microsoft.Alpha(FinishOpacity=0, Opacity=100, Style=0x2)";
        -webkit-filter: hue-rotate(595deg);
        -webkit-filter: hue-rotate(595deg) progid:DXImageTransform.Microsoft.Alpha(FinishOpacity=0, Opacity=100, Style=0x2);
        filter        : hue-rotate(595deg);
        filter        : hue-rotate(595deg) progid:DXImageTransform.Microsoft.Alpha(FinishOpacity=0, Opacity=100, Style=0x2)
      }
    }

    @keyframes background-size {
      50% {
        -ah-background-size    : 100% 50%;
        -khtml-background-size : 100% 50%;
        -moz-background-size   : 100% 50%;
        -webkit-background-size: 100% 50%;
        background-size        : 100% 50%
      }
    }

  /* Media > ... */
  @media all\0, all\9 {
    /* Background */
    #background { background-color: #0F0F0F }

    /* Hero */
    #hero, #hero * { color: #F0F0F0 }
  }

/* DOM Elements */
  /* Pseudo > Selection */
  ::-moz-selection { background-color: rgba(240, 240, 240, 0.5) } /* --> #F0F0F07F */
  ::selection      { background-color: rgba(240, 240, 240, 0.5) } /* --> #F0F0F07F */

/* Features */
  /* Main */
  #main {
    height       : 100%;
    padding-left : 1%;
    padding-right: 1%
  }

  #contact, #expertise, #game, #hero, #main, #projects, #socials {
    margin-left : auto;
    margin-right: auto;
    width       : 100%
  }
    /* Background */
    #background {
      -ah-background-size              : 100% 100%;
      -ah-object-fit                   : cover;
      -khtml-background-size           : 100% 100%;
      -moz-animation-delay             : 0ms;
      -moz-animation-duration          : 27000ms, 5000ms;
      -moz-animation-iteration-count   : infinite;
      -moz-animation-name              : background-color, background-size;
      -moz-animation-timing-function   : ease-in-out;
      -moz-background-size             : 100% 100%;
      -ms-animation-delay              : 0ms;
      -ms-animation-duration           : 27000ms, 5000ms;
      -ms-animation-iteration-count    : infinite;
      -ms-animation-name               : background-color, background-size;
      -ms-animation-timing-function    : ease-in-out;
      -ms-filter                       : "hue-rotate(235deg) progid:DXImageTransform.Microsoft.Alpha(FinishOpacity=0, Opacity=100, Style=0x2)";
      -o-animation-delay               : 0ms;
      -o-animation-duration            : 27000ms, 5000ms;
      -o-animation-iteration-count     : infinite;
      -o-animation-name                : background-color, background-size;
      -o-animation-timing-function     : ease-in-out;
      -o-object-fit                    : cover;
      -webkit-animation-delay          : 0ms;
      -webkit-animation-duration       : 27000ms, 5000ms;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-name           : background-color, background-size;
      -webkit-animation-timing-function: ease-in-out;
      -webkit-background-size          : 100% 100%;
      -webkit-filter                   : hue-rotate(235deg);
      -webkit-filter                   : hue-rotate(235deg) progid:DXImageTransform.Microsoft.Alpha(FinishOpacity=0, Opacity=100, Style=0x2);
      -webkit-mask-image               : -webkit-gradient(radial, center center, 0, center center, 720, from(rgba(0, 0, 0, 1.0)), to(rgba(0, 0, 0, 0.0)));
      -webkit-mask-position            : center;
      -webkit-mask-position-x          : center;
      -webkit-mask-position-y          : center;
      -webkit-mask-repeat              : no-repeat;
      -webkit-mask-size                : contain;
      animation-delay                  : 0ms;
      animation-duration               : 27000ms, 5000ms;
      animation-iteration-count        : infinite;
      animation-name                   : background-color, background-size;
      animation-timing-function        : ease-in-out;
      background-image                 :    -moz-linear-gradient(                               rgba(255, 0, 0, 0.0)              65%,            rgba(255, 0, 0, 0.1),     rgba(255, 0, 0, 0.0));
      background-image                 :     -ms-linear-gradient(                               rgba(255, 0, 0, 0.0)              65%,            rgba(255, 0, 0, 0.1),     rgba(255, 0, 0, 0.0));
      background-image                 :      -o-linear-gradient(                               rgba(255, 0, 0, 0.0)              65%,            rgba(255, 0, 0, 0.1),     rgba(255, 0, 0, 0.0));
      background-image                 :        -webkit-gradient(linear, left top, left bottom, color-stop(65%, rgba(255, 0, 0, 0.0)), color-stop(rgba(255, 0, 0, 0.1)), to(rgba(255, 0, 0, 0.0)));
      background-image                 : -webkit-linear-gradient(                               rgba(255, 0, 0, 0.0)              65%,            rgba(255, 0, 0, 0.1),     rgba(255, 0, 0, 0.0));
      background-image                 :         linear-gradient(                               rgba(255, 0, 0, 0.0)              65%,            rgba(255, 0, 0, 0.1),     rgba(255, 0, 0, 0.0));
      background-position              : bottom;
      background-position-x            : center;
      background-position-y            : bottom;
      background-size                  : 100% 100%;
      bottom                           : 0;
      filter                           : hue-rotate(235deg);
      filter                           : hue-rotate(235deg) progid:DXImageTransform.Microsoft.Alpha(FinishOpacity=0, Opacity=100, Style=0x2);
      height                           : 100%;
      left                             : 0;
      margin-left                      : auto;
      margin-right                     : auto;
      mask                             : url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMjggMTI4Ij48ZGVmcz48cmFkaWFsR3JhZGllbnQgaWQ9ImciIGN4PSI1MCUiIGN5PSI1MCUiIHI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0id2hpdGUiIHN0b3Atb3BhY2l0eT0iMSIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IndoaXRlIiBzdG9wLW9wYWNpdHk9IjAiIC8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3Qgd2lkdGg9IjEyOCIgaGVpZ2h0PSIxMjgiIGZpbGw9InVybCgjZykiIC8+PC9zdmc+DQo=);
      mask-image                       : radial-gradient(circle, rgba(0, 0, 0, 1.0) 0%, rgba(0, 0, 0, 0.0) 100%);
      mask-position                    : center;
      mask-repeat                      : no-repeat;
      mask-size                        : contain;
      max-width                        : 100%;
      object-fit                       : cover;
      position                         : absolute;
      right                            : 0;
      top                              : 0;
      width                            : 102%;
      z-index                          : -1;
      zoom                             : 1.0
    }

    /* Hero */
    #hero {
      height     : 80%;
      height     : 80vh;
      padding-top: 5%
    }
      /* Button */
      #hero .button {
        font-size    : 180%;
        margin-bottom: 1.00em;
        margin-left  : 0.75em;
        margin-right : 0.75em;
        margin-top   : 1.00em
      }

      #hero [data-\:portal=actions] .button { font-size: 100% }
        /* All */
        #hero .button svg|* { stroke: currentColor }

      /* Region */
        /* <table> */
        #hero table {
          margin-left : 10%; /* --> auto */
          margin-right: 10%; /* --> auto */
          width       : 80%
        }
          /* Avatar */
          #avatar {
            -moz-animation-delay             : 0ms;
            -moz-animation-duration          : 3000ms;
            -moz-animation-iteration-count   : infinite;
            -moz-animation-name              : avatar;
            -moz-animation-timing-function   : ease-in-out;
            -ms-animation-delay              : 0ms;
            -ms-animation-duration           : 3000ms;
            -ms-animation-iteration-count    : infinite;
            -ms-animation-name               : avatar;
            -ms-animation-timing-function    : ease-in-out;
            -o-animation-delay               : 0ms;
            -o-animation-duration            : 3000ms;
            -o-animation-iteration-count     : infinite;
            -o-animation-name                : avatar;
            -o-animation-timing-function     : ease-in-out;
            -webkit-animation-delay          : 0ms;
            -webkit-animation-duration       : 3000ms;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-name           : avatar;
            -webkit-animation-timing-function: ease-in-out;
            animation-delay                  : 0ms;
            animation-duration               : 3000ms;
            animation-iteration-count        : infinite;
            animation-name                   : avatar;
            animation-timing-function        : ease-in-out;
            padding-left                     : 65px;
            padding-right                    : 65px;
            width                            : 40%;
            will-change                      : transform, translate, -ah-transform, -ms-transform, -o-transform, -webkit-transform
          }
            #avatar img { width: 100% }

          /* Subtitle, Title */
          #subtitle, #title, [data-\:portal=title] {
            font-synthesis: style weight;
            font-variant  : normal
          }

          /* Title */
          #title {
            -ah-text-align: right;
            padding-right : 15%;
            text-align    : right
          }

          #title                        { font-size  : 500% }
          #title, [data-\:portal=title] { font-weight: 900 }
          [data-\:portal=title]         { font-size  : 365% }
            /* All */
            #title *, [data-\:portal=title] * {
              -webkit-text-stroke-width: 2.5px !important;
              -webkit-text-stroke-width: 2.5px;
              font-weight              : inherit;
              margin                   : 0
            }

            /* Subtitle */
            #subtitle {
              -webkit-text-stroke-width: 0 !important;
              font-size                : 50%;
              font-weight              : normal
            }
              /* Pseudo > After */
              #subtitle::after {
                -moz-transition-property   : font-size, opacity;
                -ms-transition-property    : font-size, opacity;
                -o-transition-property     : font-size, opacity;
                -webkit-transition-property: font-size, opacity;
                -khtml-opacity             : 0.0;
                -moz-opacity               : 0.0;
                color                      : inherit;
                content                    : " circa 2016";
                display                    : block;
                font-size                  : 0%;
                font-style                 : oblique;
                opacity                    : 0.0;
                transition-property        : font-size, opacity;
                transition-timing-function : linear
              }

              /* Hover > Pseudo > After */
              #subtitle:hover::after {
                -khtml-opacity: 1.0;
                -moz-opacity  : 1.0;
                font-size     : 75%;
                font-size     : 30px; /* ->> Internet Explorer failed the `transition` */
                opacity       : 1.0
              }

      /* Tagline */
      #tagline {
        line-height: 1.5;
        max-width  : 50%;
        min-width  : 320px
      }
        /* <span> */
        #tagline span {
          display       : inline-block;
          vertical-align: baseline;
          white-space   : pre-wrap
        }
          /* Pseudo > Not */
          #tagline span:not(:hover) { font-variant-emoji: text }

    /* Hero, Socials */
    #hero, #socials {
      -ah-text-align: center;
      text-align    : center
    }

    /* Socials */
    #socials {
      display    : table;
      height     : 20%;
      height     : 20vh;
      min-width  : 440px;
      white-space: nowrap;
      width      : 70%
    }
      /* All */
      #socials * {
        -ah-vertical-align: middle;
        display           : table-cell;
        vertical-align    : middle
      }

      #background ~ #socials [alt=Email i] {
        -ms-filter    : "invert(1)";
        -webkit-filter: invert(1);
        filter        : invert(1)
      }

      /* <tbody> */
      #socials tbody { display: table-row-group }

      /* <tr> */
      #socials tr { display: table-row }

      /* Social */
      #socials .social {
        -ah-border-bottom-left-radius     : 50%;
        -ah-border-bottom-right-radius    : 50%;
        -ah-border-top-left-radius        : 50%;
        -ah-border-top-right-radius       : 50%;
        -khtml-border-bottom-left-radius  : 50%;
        -khtml-border-bottom-right-radius : 50%;
        -khtml-border-top-left-radius     : 50%;
        -khtml-border-top-right-radius    : 50%;
        -moz-border-bottom-left-radius    : 50%;
        -moz-border-bottom-right-radius   : 50%;
        -moz-border-top-left-radius       : 50%;
        -moz-border-top-right-radius      : 50%;
        -moz-transition-duration          : 100ms, 100ms, 200ms, 100ms, 100ms, 200ms;
        -moz-transition-property          : border-bottom-left-radius, border-bottom-right-radius, border-color, border-top-left-radius, border-top-right-radius, height, line-height, transform, width, -ah-transform, -ms-transform, -o-transform, -webkit-transform;
        -ms-transition-duration           : 100ms, 100ms, 200ms, 100ms, 100ms, 200ms;
        -ms-transition-property           : border-bottom-left-radius, border-bottom-right-radius, border-color, border-top-left-radius, border-top-right-radius, height, line-height, transform, width, -ah-transform, -ms-transform, -o-transform, -webkit-transform;
        -o-transition-duration            : 100ms, 100ms, 200ms, 100ms, 100ms, 200ms;
        -o-transition-property            : border-bottom-left-radius, border-bottom-right-radius, border-color, border-top-left-radius, border-top-right-radius, height, line-height, transform, width, -ah-transform, -ms-transform, -o-transform, -webkit-transform;
        -pie-border-radius                : 50%;
        -webkit-border-bottom-left-radius : 50%;
        -webkit-border-bottom-right-radius: 50%;
        -webkit-border-top-left-radius    : 50%;
        -webkit-border-top-right-radius   : 50%;
        -webkit-transition-duration       : 100ms, 100ms, 200ms, 100ms, 100ms, 200ms;
        -webkit-transition-property       : border-bottom-left-radius, border-bottom-right-radius, border-color, border-top-left-radius, border-top-right-radius, height, line-height, transform, width, -ah-transform, -ms-transform, -o-transform, -webkit-transform;
        border-bottom-color               : rgba(127, 127, 127, 0.5);
        border-bottom-left-radius         : 50%;
        border-bottom-right-radius        : 50%;
        border-bottom-style               : solid;
        border-bottom-width               : 1px;
        border-collapse                   : separate;
        border-left-color                 : rgba(127, 127, 127, 0.5);
        border-left-style                 : solid;
        border-left-width                 : 1px;
        border-right-color                : rgba(127, 127, 127, 0.5);
        border-right-style                : solid;
        border-right-width                : 1px;
        border-top-color                  : rgba(127, 127, 127, 0.5);
        border-top-left-radius            : 50%;
        border-top-right-radius           : 50%;
        border-top-style                  : solid;
        border-top-width                  : 1px;
        display                           : inline-table;
        font-size                         : 200%;
        height                            : 2.00em;
        line-height                       : 1.75em;
        max-height                        : 100%;
        max-width                         : 100%;
        min-height                        : 2.00em;
        min-width                         : 2.00em;
        outline-color                     : transparent;
        outline-style                     : solid;
        outline-width                     : 1px;
        scale                             : 1.0;
        transition-duration               : 100ms, 100ms, 200ms, 100ms, 100ms, 200ms;
        transition-property               : border-bottom-left-radius, border-bottom-right-radius, border-color, border-top-left-radius, border-top-right-radius, height, line-height, transform, width, -ah-transform, -ms-transform, -o-transform, -webkit-transform;
        width                             : 2.00em
      }

      #socials .social[data-\:animated~=magnify] { scale: 1.1 }
        /* All */
        #socials .social * { display: initial }

        /* Pseudo */
          /* Focus */
          #socials .social:focus /* ->> Ensures `[alt=Email i]` displays its border */ {
            border-bottom-color: #F0F0F0 !important;
            border-left-color  : #F0F0F0 !important;
            border-right-color : #F0F0F0 !important;
            border-top-color   : #F0F0F0 !important
          }

          /* Focus, Hover */
          #socials .social:focus,
          #socials .social:hover {
            border-bottom-left-radius : 9px;
            border-bottom-right-radius: 9px;
            border-top-left-radius    : 9px;
            border-top-right-radius   : 9px
          }

          /* Hover */
          #socials .social:hover {
            min-height: 1.75em;
            min-width : 1.75em
          }

          #socials .social[data-\:tooltip]:hover::before {
            -moz-transition-delay   : 200ms;
            -ms-transition-delay    : 200ms;
            -o-transition-delay     : 200ms;
            -webkit-transition-delay: 200ms;
            transition-delay        : 200ms;
          }
