@charset "UTF-8";
@namespace     "http://www.w3.org/1999/xhtml";
@namespace svg "http://www.w3.org/2000/svg";

/* DOM Elements */
  /* All */
  * {
    -ah-background-image-resolution    : normal;
    -ah-image-resolution               : inherit;
    -ah-image-smoothing                : inherit;
    -khtml-user-modify                 : read-only;
    -moz-animation-timing-function     : linear;
    -moz-transition-timing-function    : linear;
    -moz-user-modify                   : read-only;
    -ms-animation-timing-function      : linear;
    -ms-interpolation-mode             : bicubic;
    -ms-interpolation-mode             : inherit;
    -ms-transition-timing-function     : linear;
    -o-animation-timing-function       : linear;
    -o-transition-timing-function      : linear;
    -prince-background-image-resolution: inherit;
    -prince-image-resolution           : inherit;
    -ro-image-resolution               : inherit;
    -ro-rasterization-supersampling    : 1;
    -webkit-animation-timing-function  : linear;
    -webkit-box-decoration-break       : clone;
    -webkit-transition-timing-function : linear;
    -webkit-user-drag                  : none;
    -webkit-user-modify                : read-only;
    animation-timing-function          : linear;
    box-decoration-break               : clone;
    image-orientation                  : inherit;
    image-rendering                    : inherit;
    image-resolution                   : inherit;
    interpolate-size                   : inherit;
    scrollbar-3dlight-color            : whitesmoke;
    scrollbar-arrow-color              : whitesmoke;
    scrollbar-base-color               : whitesmoke;
    scrollbar-color                    : dimgray whitesmoke;
    scrollbar-darkshadow-color         : dimgray;
    scrollbar-face-color               : whitesmoke;
    scrollbar-gutter                   : auto;
    scrollbar-highlight-color          : white;
    scrollbar-shadow-color             : dimgray;
    scrollbar-track-color              : dimgray;
    scrollbar-width                    : thin;
    transition-behavior                : inherit;
    transition-timing-function         : linear;
    user-modify                        : read-only
  }

  [contenteditable] {
    -khtml-user-modify : read-write;
    -moz-user-modify   : read-write;
    -webkit-user-modify: read-write;
    user-modify        : read-write
  }

  [contenteditable=true /* i */] {
    -khtml-user-modify : read-write;
    -moz-user-modify   : read-write;
    -webkit-user-modify: read-write;
    user-modify        : read-write
  }

  [contenteditable=plaintext-only /* i */] {
    -khtml-user-modify : read-write-plaintext-only;
    -khtml-user-modify : read-write;
    -moz-user-modify   : read-write-plaintext-only;
    -moz-user-modify   : read-write;
    -webkit-user-modify: read-write-plaintext-only;
    -webkit-user-modify: read-write;
    user-modify        : read-write-plaintext-only;
    user-modify        : read-write
  }

  [draggable=false /* i */] { -webkit-user-drag: none }
  [draggable=true  /* i */] { -webkit-user-drag: element }

  [hidden] /* ->> Ignores `[hidden=until-found i]`, `ol[hidden]`, `colgroup[hidden]`, `tbody[hidden]`, `tfoot[hidden]`, `thead[hidden]`, and `tr[hidden]` default user-agent styles */ {
    appearance: none;
    display   : none;
    resize    : none; /* ->> For `<textarea>` */
    speak     : never;
    visibility: collapse
  }

  [hidden=until-found /* i */] { content-visibility: hidden }

  [lang|=ar /* i */], :lang(ar) { -prince-lang: ar }
  [lang|=be /* i */], :lang(be) { -prince-lang: be }
  [lang|=bg /* i */], :lang(bg) { -prince-lang: bg }
  [lang|=bs /* i */], :lang(bs) { -prince-lang: bs }
  [lang|=ca /* i */], :lang(ca) { -prince-lang: ca }
  [lang|=cs /* i */], :lang(cs) { -prince-lang: cs }
  [lang|=da /* i */], :lang(da) { -prince-lang: da }
  [lang|=de /* i */], :lang(de) { -prince-lang: de }
  [lang|=el /* i */], :lang(el) { -prince-lang: el }
  [lang|=en /* i */], :lang(en) { -prince-lang: en }
  [lang|=es /* i */], :lang(es) { -prince-lang: es }
  [lang|=eu /* i */], :lang(eu) { -prince-lang: eu }
  [lang|=fa /* i */], :lang(fa) { -prince-lang: fa }
  [lang|=fi /* i */], :lang(fi) { -prince-lang: fi }
  [lang|=fr /* i */], :lang(fr) { -prince-lang: fr }
  [lang|=fr /* i */], :lang(fr) { -prince-lang: fr }
  [lang|=gl /* i */], :lang(gl) { -prince-lang: gl }
  [lang|=he /* i */], :lang(he) { -prince-lang: he }
  [lang|=hr /* i */], :lang(hr) { -prince-lang: hr }
  [lang|=hu /* i */], :lang(hu) { -prince-lang: hu }
  [lang|=it /* i */], :lang(it) { -prince-lang: it }
  [lang|=ja /* i */], :lang(ja) { -prince-lang: ja }
  [lang|=ko /* i */], :lang(ko) { -prince-lang: ko }
  [lang|=lt /* i */], :lang(lt) { -prince-lang: lt }
  [lang|=lv /* i */], :lang(lv) { -prince-lang: lv }
  [lang|=mk /* i */], :lang(mk) { -prince-lang: mk }
  [lang|=nb /* i */], :lang(nb) { -prince-lang: nb }
  [lang|=nl /* i */], :lang(nl) { -prince-lang: nl }
  [lang|=nn /* i */], :lang(nn) { -prince-lang: nn }
  [lang|=pl /* i */], :lang(pl) { -prince-lang: pl }
  [lang|=pt /* i */], :lang(pt) { -prince-lang: pt }
  [lang|=rm /* i */], :lang(rm) { -prince-lang: rm }
  [lang|=ro /* i */], :lang(ro) { -prince-lang: ro }
  [lang|=ru /* i */], :lang(ru) { -prince-lang: ru }
  [lang|=sk /* i */], :lang(sk) { -prince-lang: sk }
  [lang|=sl /* i */], :lang(sl) { -prince-lang: sl }
  [lang|=sr /* i */], :lang(sr) { -prince-lang: sr }
  [lang|=sv /* i */], :lang(sv) { -prince-lang: sv }
  [lang|=th /* i */], :lang(th) { -prince-lang: th }
  [lang|=tr /* i */], :lang(tr) { -prince-lang: tr }
  [lang|=uk /* i */], :lang(uk) { -prince-lang: uk }
  [lang|=vi /* i */], :lang(vi) { -prince-lang: vi }
  [lang|=zh /* i */], :lang(zh) { -prince-lang: zh }

  [tabindex]                   { -moz-user-focus: normal }
  [tabindex=-1], [tabindex^=-] { -moz-user-focus: ignore }
    /* Pseudo */
      /* After, Before */
      ::after, ::before {
        -khtml-user-select : inherit;
        -moz-user-input    : inherit;
        -moz-user-select   : inherit;
        -ms-touch-action   : inherit;
        -ms-user-select    : inherit;
        -webkit-user-select: inherit;
        cursor             : inherit;
        pointer-events     : inherit;
        touch-action       : inherit;
        user-select        : inherit;
        white-space        : pre
      }

      /* Focus Visible */
      :focus-visible { outline: auto }

      /* Link */
      :link { color: dodgerblue }

      /* Link, Visited */
      :link, :visited {
        cursor         : pointer;
        text-decoration: none
      }
        /* Pseudo > Active */
        :link:active,
        :visited:active { color: firebrick }

      /* Visited */
      :visited { color: rebeccapurple }

      /* ::-webkit-scrollbar */
      ::-webkit-scrollbar {
        height: 12px;
        width : 12px
      }
        /* ::-webkit-scrollbar-button */
        ::-webkit-scrollbar-button { display: none }

        /* ::-webkit-scrollbar-corner */
        ::-webkit-scrollbar-corner { background-color: dimgray }

        /* ::-webkit-scrollbar-thumb */
        ::-webkit-scrollbar-thumb {
          -o-border-radius     : 12px;
          -webkit-border-radius: 12px;
          background-color     : whitesmoke;
          border               : 3px solid dimgray;
          border-radius        : 12px;
          cursor               : pointer
        }
          /* Pseudo > Hover */
          ::-webkit-scrollbar-thumb:hover { background-color: white }

        /* ::-webkit-scrollbar-track */
        ::-webkit-scrollbar-track { background-color: dimgray }

        /* ::-webkit-scrollbar-track-piece */
        ::-webkit-scrollbar-track-piece { background-color: dimgray }

  /* All, <address>, <article>, <aside>, <bdi>, <blockquote>, <caption>, <center>, <col>, <colgroup>, <dd>, <dir>, <div>, <dl>, <dt>, <figcaption>, <figure>, <footer>, <form>, <h1>, <h2>, <h3>, <h4>, <h5>, <h6>, <header>, <hgroup>, <hr>, <legend>, <li>, <listing>, <main>, <menu>, <nav>, <ol>, <output>, <p>, <plaintext>, <pre>, <search>, <section>, <summary>, <table>, <tbody>, <td>, <tfoot>, <th>, <thead>, <tr>, <ul>, <xmp> */
  [dir=auto /* i */], [dir=ltr /* i */], [dir=rtl /* i */]                                                                                                                                                                                                                                                                     { unicode-bidi: isolate }
  address, article, aside, bdi, blockquote, caption, center, col, colgroup, dd, dir, div, dl, dt, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, legend, li, listing, main, menu, nav, ol, output, p, plaintext, pre, search, section, summary, table, tbody, td, tfoot, th, thead, tr, ul, xmp { unicode-bidi: isolate }

  /* <a> */
  a {
    -webkit-tap-highlight-color: transparent;
    background-color           : transparent
  }

  /* <abbr>, <acronym> */
  abbr[title], acronym[title] {
    -moz-text-decoration-line : underline;
    -moz-text-decoration-style: dashed;
    border-bottom             : none;
    border-bottom-style       : none;
    text-decoration-line      : underline;
    text-decoration-style     : dotted
  }

  /* <a>, <abbr>, <acronym>, <address>, <applet>, <article>, <aside>, <audio>, <b>, <blockquote>, <body>, <button>, <canvas>, <caption>, <center>, <cite>, <code>, <dd>, <del>, <details>, <dfn>, <div>, <dl>, <dt>, <em>, <embed>, <fieldset>, <figcaption>, <figure>, <footer>, <form>, <header>, <hgroup>, <html>, <i>, <iframe>, <img>, <ins>, <kbd>, <label>, <legend>, <li>, <mark>, <menu>, <nav>, <object>, <ol>, <optgroup>, <output>, <p>, <pre>, <q>, <ruby>, <s>, <samp>, <section>, <select>, <small>, <span>, <strike>, <strong>, <sub>, <summary>, <sup>, <table>, <tbody>, <td>, <textarea>, <tfoot>, <th>, <thead>, <time>, <tr>, <tt>, <u>, <ul>, <var>, <video> */
  a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, optgroup, output, p, pre, q, ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video { font-size: /* --> medium */ 100% }

  /* <a>, <abbr>, <acronym>, <address>, <applet>, <article>, <aside>, <audio>, <b>, <big>, <blockquote>, <body>, <button>, <canvas>, <caption>, <center>, <cite>, <code>, <dd>, <del>, <details>, <dfn>, <div>, <dl>, <dt>, <em>, <embed>, <fieldset>, <figcaption>, <figure>, <footer>, <form>, <h1>, <h2>, <h3>, <h4>, <h5>, <h6>, <header>, <hgroup>, <html>, <i>, <iframe>, <img>, <input>, <ins>, <kbd>, <label>, <legend>, <li>, <mark>, <menu>, <nav>, <object>, <ol>, <optgroup>, <output>, <p>, <pre>, <q>, <ruby>, <s>, <samp>, <section>, <select>, <small>, <span>, <strike>, <strong>, <sub>, <summary>, <sup>, <table>, <tbody>, <td>, <textarea>, <tfoot>, <th>, <thead>, <time>, <tr>, <tt>, <u>, <ul>, <var>, <video> ->> Ignores `leftmargin`, `marginheight`, `marginwidth`, and `topmargin` HTML attributes */
  a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, optgroup, output, p, pre, q, ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    mso-ansi-font-size                        : inherit;
    mso-ansi-font-style                       : inherit;
    mso-ansi-font-weight                      : inherit;
    mso-ansi-language                         : inherit;
    mso-ascii-font-family                     : inherit;
    mso-bidi-font-family                      : inherit;
    mso-bidi-font-size                        : inherit;
    mso-bidi-font-style                       : inherit;
    mso-bidi-font-weight                      : inherit;
    mso-fareast-font-family                   : inherit;
    mso-font-alt                              : inherit;
    mso-hansi-font-family                     : inherit;
    mso-symbol-font-family                    : inherit;
    mso-word-wrap                             : inherit;
    -ah-annotation-font-family                : inherit;
    -ah-annotation-font-size                  : inherit;
    -ah-annotation-font-style                 : inherit;
    -ah-annotation-font-weight                : inherit;
    -ah-field-font-size                       : inherit;
    -ah-justify-nbsp                          : inherit;
    -ah-line-continued-mark-font-family       : inherit;
    -ah-line-continued-mark-font-size         : inherit;
    -ah-line-continued-mark-font-style        : inherit;
    -ah-line-continued-mark-font-weight       : inherit;
    -ah-line-number-font-family               : inherit;
    -ah-line-number-font-size                 : inherit;
    -ah-line-number-font-style                : inherit;
    -ah-line-number-font-weight               : inherit;
    -ah-outline-font-style                    : inherit;
    -ah-outline-font-weight                   : inherit;
    -ah-overflow-condense-limit-font-size     : inherit;
    -ah-overflow-condense-limit-font-stretch  : inherit;
    -ah-overflow-condense-limit-letter-spacing: inherit;
    -ah-overflow-condense-limit-line-height   : inherit;
    -ah-ruby-align                            : inherit;
    -ah-ruby-color                            : inherit;
    -ah-ruby-condense                         : inherit;
    -ah-ruby-font-family                      : inherit;
    -ah-ruby-font-size                        : inherit;
    -ah-ruby-font-stretch                     : inherit;
    -ah-ruby-font-style                       : inherit;
    -ah-ruby-font-weight                      : inherit;
    -ah-ruby-limit-overhang                   : inherit;
    -ah-ruby-limit-space                      : inherit;
    -ah-ruby-minimum-font-size                : inherit;
    -ah-text-emphasis-font-family             : inherit;
    -ah-text-emphasis-font-size               : inherit;
    -ah-text-emphasis-font-stretch            : inherit;
    -ah-text-emphasis-font-style              : inherit;
    -ah-text-emphasis-font-weight             : inherit;
    -ah-word-wrap                             : inherit;
    -moz-font-feature-settings                : inherit;
    -moz-font-language-override               : inherit;
    -moz-osx-font-smoothing                   : inherit;
    -moz-text-size-adjust                     : inherit;
    -ms-font-feature-settings                 : inherit;
    -ms-line-break                            : inherit;
    -ms-text-kashida-space                    : inherit;
    -ms-text-underline-position               : inherit;
    -ms-word-wrap                             : inherit;
    -ro-barcode-font-family                   : inherit;
    -ro-barcode-font-size                     : inherit;
    -webkit-font-feature-settings             : inherit;
    -webkit-font-kerning                      : inherit;
    -webkit-font-size-delta                   : inherit;
    -webkit-font-smoothing                    : inherit;
    -webkit-font-variant-ligatures            : inherit;
    -webkit-hyphenate-character               : inherit;
    -webkit-line-break                        : inherit;
    -webkit-margin-after                      : 0px;
    -webkit-margin-before                     : 0px;
    -webkit-text-security                     : inherit;
    -webkit-text-size-adjust                  : inherit;
    -webkit-text-stroke-color                 : inherit;
    -webkit-text-stroke-width                 : inherit;
    direction                                 : inherit;
    font-family                               : inherit;
    font-feature-settings                     : inherit;
    font-kerning                              : inherit;
    font-optical-sizing                       : inherit;
    font-palette                              : inherit;
    font-size                                 : inherit;
    font-size-adjust                          : inherit;
    font-smooth                               : inherit;
    font-stretch                              : inherit;
    font-style                                : inherit;
    font-synthesis                            : inherit;
    font-synthesis-small-caps                 : inherit;
    font-synthesis-style                      : inherit;
    font-synthesis-weight                     : inherit;
    font-variant-alternates                   : inherit;
    font-variant-caps                         : inherit;
    font-variant-east-asian                   : inherit;
    font-variant-emoji                        : inherit;
    font-variant-ligatures                    : inherit;
    font-variant-numeric                      : inherit;
    font-variant-position                     : inherit;
    font-variation-settings                   : inherit;
    font-weight                               : inherit;
    font-width                                : inherit;
    hyphenate-character                       : inherit;
    hyphenate-limit-chars                     : inherit;
    line-break                                : inherit;
    line-height                               : inherit;
    line-height-step                          : inherit;
    margin-block-end                          : 0px;
    margin-block-start                        : 0px;
    margin-bottom                             : 0px;
    margin-inline-end                         : 0px;
    margin-inline-start                       : 0px;
    margin-left                               : 0px;
    margin-right                              : 0px;
    margin-top                                : 0px;
    text-box-edge                             : inherit;
    text-box-trim                             : inherit;
    text-kashida-space                        : inherit;
    text-size-adjust                          : inherit;
    text-spacing-trim                         : inherit;
    text-underline-position                   : inherit;
    text-wrap                                 : inherit
  }

  /* <a>, <abbr>, <acronym>, <address>, <applet>, <article>, <aside>, <audio>, <b>, <big>, <blockquote>, <body>, <canvas>, <caption>, <center>, <cite>, <code>, <dd>, <del>, <details>, <dfn>, <div>, <dt>, <em>, <embed>, <fieldset>, <figcaption>, <figure>, <footer>, <form>, <h1>, <h2>, <h3>, <h4>, <h5>, <h6>, <header>, <hgroup>, <html>, <iframe>, <img>, <ins>, <kbd>, <label>, <legend>, <li>, <mark>, <menu>, <nav>, <object>, <ol>, <output>, <p>, <pre>, <q>, <ruby>, <s>, <samp>, <section>, <small>, <span>, <strike>, <strong>, <sub>, <summary>, <sup>, <table>, <tbody>, <td>, <tfoot>, <th>, <thead>, <time>, <tr>, <tt>, <u>, <var>, <video> */
  a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, var, video {
    padding-bottom: 0px;
    padding-left  : 0px;
    padding-right : 0px;
    padding-top   : 0px
  }

  /* <a>, <abbr>, <acronym>, <address>, <applet>, <article>, <aside>, <audio>, <b>, <big>, <blockquote>, <body>, <canvas>, <caption>, <center>, <cite>, <code>, <dd>, <del>, <details>, <dfn>, <div>, <dl>, <dt>, <em>, <embed>, <fieldset>, <figcaption>, <figure>, <footer>, <form>, <h1>, <h2>, <h3>, <h4>, <h5>, <h6>, <header>, <hgroup>, <html>, <i>, <iframe>, <img>, <ins>, <kbd>, <label>, <legend>, <li>, <mark>, <menu>, <nav>, <object>, <ol>, <output>, <p>, <pre>, <progress>, <q>, <ruby>, <s>, <samp>, <section>, <small>, <span>, <strike>, <strong>, <sub>, <summary>, <sup>, <table>, <tbody>, <td>, <tfoot>, <th>, <thead>, <time>, <tr>, <tt>, <u>, <ul>, <var>, <video> */
  a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, progress, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border-bottom-width: 0px;
    border-left-width  : 0px;
    border-right-width : 0px;
    border-top-width   : 0px;
    border-width       : 0px
  }

  /* <a>, <abbr>, <acronym>, <address>, <applet>, <article>, <aside>, <audio>, <b>, <big>, <blockquote>, <body>, <canvas>, <caption>, <center>, <cite>, <code>, <dd>, <del>, <details>, <dfn>, <div>, <dl>, <dt>, <em>, <embed>, <fieldset>, <figcaption>, <figure>, <footer>, <form>, <h1>, <h2>, <h3>, <h4>, <h5>, <h6>, <header>, <hgroup>, <html>, <i>, <iframe>, <img>, <ins>, <kbd>, <label>, <legend>, <li>, <mark>, <menu>, <nav>, <object>, <ol>, <output>, <p>, <pre>, <progress>, <q>, <ruby>, <s>, <samp>, <section>, <small>, <span>, <strike>, <strong>, <sub>, <sub>, <summary>, <sup>, <sup>, <table>, <tbody>, <td>, <tfoot>, <th>, <thead>, <time>, <tr>, <tt>, <u>, <ul>, <var>, <video> */
  a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, progress, q, ruby, s, samp, section, small, span, strike, strong, sub, sub, summary, sup, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video { vertical-align: baseline }

  /* <abbr>, <acronym> */
  abbr, acronym {
    font-variant-caps: small-caps;
    font-variant-caps: all-small-caps;
    speak-as         : spell-out no-punctuation
  }

  /* <address>, <article>, <aside>, <blockquote>, <body>, <center>, <dd>, <details>, <dir>, <div>, <dl>, <dt>, <figcaption>, <figure>, <footer>, <form>, <h1>, <h2>, <h3>, <h4>, <h5>, <h6>, <header>, <hgroup>, <hr>, <html>, <legend>, <listing>, <main>, <marquee>, <menu>, <nav>, <ol>, <p>, <plaintext>, <pre>, <search>, <section>, <summary>, <ul>, <xmp> */
  address, article, aside, blockquote, body, center, dd, details, dir, div, dl, dt, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, legend, listing, main, marquee, menu, nav, ol, p, plaintext, pre, search, section, summary, ul, xmp { display: block }

  /* <area>, <base>, <basefont>, <datalist>, <head>, <link>, <meta>, <noembed>, <param>, <rp>, <script>, <template>, <title> */
  area, base, basefont, datalist, head, link, meta, noembed, noframes, param, rp, script, style, template, title {
    display: none;
    speak  : never
  }

  /* <audio>, <canvas>, <img>, <object>, <video> */
  audio, canvas, img, object, video {
    -ah-object-fit     : contain;
    -ah-object-position: center center;
    -o-object-fit      : contain;
    -o-object-position : center center;
    object-fit         : contain; /* ->> Ignored by `<embed>`, `<fencedframe>`, and `<iframe>` */
    object-position    : center center
  }

  /* <b>, <strong> */
  b, strong { font-weight: bolder }

  /* <bdo> */
  bdo { unicode-bidi: isolate-override }

  /* <big> */
  big { font-size: 110% }

  /* <body> */
  body {
    line-height: 1.000;
    height     : 100%
  }
    /* All */
    body * {
      -ms-touch-action: inherit;
      touch-action    : inherit
    }

  /* <body>, <html> */
  body, html {
    -ms-touch-action          : pan-x pan-y;
    -webkit-overflow-scrolling: auto;
    touch-action              : pan-x pan-y;
    width                     : 100%
  }

  /* <blockquote>, <dd>, <figure> */
  blockquote, dd, figure {
    -webkit-margin-start: 40px;
    margin-inline-start : 40px
  }

  /* <blockquote>, <hr>, <listing>, <p>, <plaintext>, <pre>, <xmp> */
  blockquote, hr, listing, p, plaintext, pre, xmp {
    -webkit-margin-after : 16px;
    -webkit-margin-before: 16px;
    margin-block-end     : 16px;
    margin-block-start   : 16px;
    margin-bottom        : 16px;
    margin-top           : 16px
  }

  /* <blockquote>, <q> */
  blockquote, q {
    quotes: auto;
    quotes: none
  }
    /* Pseudo > (After, Before) */
    blockquote:after, blockquote:before, q:after, q:before {
      content: "";
      content: none
    }

    blockquote::after, blockquote::before, q::after, q::before {
      content: "";
      content: none
    }

  /* <br> */
  br[clear=all   /* i */], br[clear=both /* i */] { clear: both }
  br[clear=left  /* i */]                         { clear: left }
  br[clear=right /* i */]                         { clear: right }

  /* <button> */
  button {
    -moz-appearance   : button;
    -ms-appearance    : button;
    -webkit-appearance: button;
    appearance        : button;
    padding-bottom    : 1px;
    padding-left      : 5px;
    padding-right     : 5px;
    padding-top       : 1px
  }

  /* <button>, <hr>, <input> */
  button, hr, input { overflow: visible }

  /* <button>, <input> */
  button, input { display: inline-block }
    /* Pseudo */
      /* Focus Visible */
      button:focus-visible,
      input[type=button /* i */]:focus-visible,
      input[type=reset  /* i */]:focus-visible,
      input[type=submit /* i */]:focus-visible { outline: 1px dotted ButtonText }

      input[type=file /* i */]::file-selector-button:focus-visible       { outline: 1px dotted ButtonText }
      input[type=file /* i */]::-webkit-file-upload-button:focus-visible { outline: 1px dotted ButtonText }

      /* ::-moz-focus-inner */
      button::-moz-focus-inner,
      input[type=button /* i */]::-moz-focus-inner,
      input[type=reset  /* i */]::-moz-focus-inner,
      input[type=submit /* i */]::-moz-focus-inner {
        padding-bottom: 0px;
        padding-left  : 0px;
        padding-right : 0px;
        padding-top   : 0px
      }

      /* ::-moz-focusring */
      button:-moz-focusring,
      input[type=button /* i */]:-moz-focusring,
      input[type=reset  /* i */]:-moz-focusring,
      input[type=submit /* i */]:-moz-focusring { outline: 1px dotted ButtonText }
        /* Pseudo > (File Selector Button, ::-webkit-file-upload-button) */
        input[type=file /* i */]::file-selector-button::-moz-focusring       { outline: 1px dotted ButtonText }
        input[type=file /* i */]::-webkit-file-upload-button::-moz-focusring { outline: 1px dotted ButtonText }

  /* <button>, <input>, <img> */
  button::-moz-focus-inner,
  input[type=button /* i */]::-moz-focus-inner,
  input[type=reset  /* i */]::-moz-focus-inner,
  input[type=submit /* i */]::-moz-focus-inner,
  img { border-style: none }

  /* <button>, <legend>, <select> */
  button, legend, select {
    -webkit-box-sizing: border-box;
    box-sizing        : border-box
  }

  /* <button>, <meter>, <select> (> <option>) */
  button, meter, select, select option { color: dimgray }

  /* <button>, <progress>, <select> (> <option>) */
  button, progress, select, select option { background-color: whitesmoke }

  /* <button>, <input>, <optgroup>, <select>, <textarea> */
  button, input, optgroup, select, textarea {
    -khtml-border-radius : 0;
    -moz-border-radius   : 0;
    -o-border-radius     : 0;
    -pie-border-radius   : 0;
    -webkit-border-radius: 0;
    border-bottom        : 1px solid;
    border-bottom-style  : solid;
    border-bottom-width  : 1px;
    border-left          : 1px solid;
    border-left-style    : solid;
    border-left-width    : 1px;
    border-radius        : 0;
    border-right         : 1px solid;
    border-right-style   : solid;
    border-right-width   : 1px;
    border-top           : 1px solid;
    border-top-style     : solid;
    border-top-width     : 1px;
    border-width         : 0px;
    line-height          : 1.500
  }

  /* <button>, <select> */
  button, select {
    -ebup-text-transform: none;
    text-transform      : none
  }

  /* <canvas> */
  canvas { -prince-image-magic: snap-to-integer-coords }

  /* <canvas>, <svg> */
  canvas, svg {
    -ah-image-smoothing                : false;
    -prince-background-image-resolution: normal;
    -prince-image-resolution           : 1dppx;
    -ro-image-resolution               : 1dppx;
    -ro-rasterization-supersampling    : 3;
    image-rendering                    : -moz-crisp-edges;
    image-rendering                    : -webkit-crisp-edges;
    image-rendering                    : crisp-edges;
    image-rendering                    : pixelated;
    image-resolution                   : 1dppx;
    image-resolution                   : snap
  }

  /* <caption> */
  caption {
    -ah-text-align: inherit;
    text-align    : inherit
  }

  /* <cite>, <dfn>, <em>, <i>, <var> */
  cite, dfn, em, i, var { font-style: italic }

  /* <code>, <kbd>, <listing>, <plaintext>, <pre>, <samp>, <tt>, <xmp> */
  code, kbd, listing, plaintext, pre, samp, tt, xmp {
    -ah-tab-stops                 : 4;
    -moz-tab-size                 : 4;
    -o-tab-size                   : 4;
    -ro-tab-size                  : 4;
    -webkit-font-variant-ligatures: common-ligatures discretionary-ligatures;
    font-family                   : monospace, monospace;
    font-variant-ligatures        : common-ligatures discretionary-ligatures;
    tab-size                      : 4
  }

  /* <embed> */
  embed[hidden] {
    content-visibility: visible;
    display           : inline;
    height            : 0;
    width             : 0
  }

  /* <fieldset> */
  fieldset {
    border-bottom-color: ButtonFace;
    border-left-color  : ButtonFace;
    border-right-color : ButtonFace;
    border-top-color   : ButtonFace;
    padding-bottom     : 0.625em;
    padding-left       : 0.750em;
    padding-right      : 0.750em;
    padding-top        : 0.350em
  }

  /* <footer>, <small> */
  footer, small { font-size: 80% }

  /* <h1> */
  h1 {
    -epub-text-transform: capitalize;
    font-size           : 200%; /* --> xx-large */
    text-transform      : capitalize
  }

  /* <h1>, <h2>, <h3>, <h4>, <h5>, <h6> */
  h1, h2, h3, h4, h5, h6 {
    mso-word-wrap : break-word;
    -ah-word-wrap : break-word;
    -ms-word-wrap : break-word;
    font-synthesis: none;
    font-variant  : normal;
    overflow-wrap : break-word;
    word-break    : keep-all;
    word-wrap     : break-word
  }

  /* <h1>, <h4>, <h5> */
  h1, h4, h5 {
    -moz-margin-end      : 16px;
    -moz-margin-start    : 16px;
    -webkit-margin-end   : 16px;
    -webkit-margin-start : 16px;
    margin-inline-end    : 16px;
    margin-inline-start  : 16px;
    margin-left          : 16px;
    margin-right         : 16px
  }

  /* <h2> */
  h2 { font-size: 150% } /* --> x-large */

  /* <h2>, <h3> */
  h2, h3 {
    -moz-margin-end      : 14px;
    -moz-margin-start    : 14px;
    -webkit-margin-end   : 14px;
    -webkit-margin-start : 14px;
    margin-inline-end    : 14px;
    margin-inline-start  : 14px;
    margin-left          : 14px;
    margin-right         : 14px
  }

  /* <h3> */
  h3 { font-size: 120% } /* --> large */

  /* <h4> */
  h4 { font-size: 100% } /* --> medium */

  /* <h5> */
  h5 { font-size: 89% } /* --> small */

  /* <h6> */
  h6 {
    -moz-margin-end      : 18px;
    -moz-margin-start    : 18px;
    -webkit-margin-end   : 18px;
    -webkit-margin-start : 18px;
    font-size            : /* --> xx-small */ 60%;
    margin-inline-end    : 18px;
    margin-inline-start  : 18px;
    margin-left          : 18px;
    margin-right         : 18px
  }

  /* <hr> */
  hr {
    -webkit-box-sizing: content-box;
    box-sizing        : content-box;
    height            : 0
  }

  /* <html> */
  html {
    mso-word-wrap           : normal;
    -ah-justify-nbsp        : true;
    -ah-word-wrap           : normal;
    -moz-osx-font-smoothing : grayscale;
    -ms-word-wrap           : normal;
    -webkit-font-smoothing  : subpixel-antialiased;
    -webkit-text-security   : none;
    -webkit-text-size-adjust: 100%;
    direction               : ltr; /* ->> `unicode-bidi` not overriden for Document Type Definition (DTD) designers */
    font-smooth             : always;
    interpolate-size        : allow-keywords;
    line-height             : 1.150;
    text-box-edge           : cap alphabetic;
    text-box-trim           : none; /* ->> `trim-both` otherwise */
    text-size-adjust        : 100%;
    text-spacing-trim       : trim-start;
    text-wrap               : /* wrap */ balance;
    text-wrap               : /* wrap */ pretty;
    text-wrap               : /* wrap */ stable;
    zoom                    : 1.000
  }

  /* <html>, <img>, <object> */
  html, img, object { -atsc-dynamic-refresh: auto }

  /* <html>, <input> */
  html, input { font-size: 16px /* ->> Prevent automatic zoom on mobile Web browsers */ }

  /* <iframe> */
  iframe { -ro-bookmarks-enabled: true }

  /* <img> */
  img {
    contain-intrinsic-block-size : 0px;
    contain-intrinsic-height     : 0px;
    contain-intrinsic-inline-size: 0px;
    contain-intrinsic-size       : 0px;
    contain-intrinsic-width      : 0px
  }

  img[align=left  /* i */] { margin-right: 0px }
  img[align=right /* i */] { margin-left : 0px }

  /* <input> */
  input[required] { -wap-input-required: true }

  input[type=button   /* i */],
  input[type=color    /* i */],
  input[type=checkbox /* i */],
  input[type=radio    /* i */],
  input[type=reset    /* i */],
  input[type=search   /* i */],
  input[type=submit   /* i */] {
    -webkit-box-sizing: border-box;
    box-sizing        : border-box
  }

  input[type=button /* i */],
  input[type=reset  /* i */],
  input[type=submit /* i */] {
    -moz-appearance   : button;
    -ms-appearance    : button;
    -webkit-appearance: button;
    appearance        : button;
    background-color  : whitesmoke;
    color             : dimgray;
    padding-bottom    : 1px;
    padding-left      : 5px;
    padding-right     : 5px;
    padding-top       : 1px
  }

  input[type=checkbox /* i */],
  input[type=radio    /* i */] {
    padding-bottom: 0px;
    padding-left  : 0px;
    padding-right : 0px;
    padding-top   : 0px
  }

  input[type=file   /* i */],
  input[type=hidden /* i */],
  input[type=image  /* i */] {
    -moz-appearance   : none;
    -ms-appearance    : none;
    -webkit-appearance: none;
    appearance        : none
  }

  input[type=hidden /* i */] { display: none !important }

  input[type=image /* i */] {
    -ah-object-fit     : contain;
    -ah-object-position: center center;
    -o-object-fit      : contain;
    -o-object-position : center center;
    object-fit         : contain; /* ->> Ignored by `<embed>`, `<fencedframe>`, and `<iframe>` */
    object-position    : center center
  }

  input[type=search /* i */] {
    -moz-appearance   : textfield;
    -ms-appearance    : textfield;
    -webkit-appearance: textfield;
    appearance        : textfield;
    outline-offset    : -2px
  }
    /* Pseudo */
      /* File Selector Button */
      input[type=file /* i */]::file-selector-button {
        -moz-appearance               : button;
        -moz-font-feature-settings    : inherit;
        -moz-font-language-override   : inherit;
        -moz-osx-font-smoothing       : inherit;
        -moz-text-size-adjust         : inherit;
        -ms-appearance                : button;
        -ms-font-feature-settings     : inherit;
        -ms-text-kashida-space        : inherit;
        -ms-text-underline-position   : inherit;
        -ro-barcode-font-family       : inherit;
        -ro-barcode-font-size         : inherit;
        -webkit-appearance            : button;
        -webkit-font-feature-settings : inherit;
        -webkit-font-kerning          : inherit;
        -webkit-font-size-delta       : inherit;
        -webkit-font-smoothing        : inherit;
        -webkit-font-variant-ligatures: inherit;
        -webkit-hyphenate-character   : inherit;
        -webkit-text-size-adjust      : inherit;
        appearance                    : button;
        background-color              : whitesmoke;
        color                         : dimgray;
        font-family                   : inherit;
        font-feature-settings         : inherit;
        font-kerning                  : inherit;
        font-optical-sizing           : inherit;
        font-palette                  : inherit;
        font-palette                  : inherit;
        font-size                     : inherit;
        font-size-adjust              : inherit;
        font-stretch                  : inherit;
        font-style                    : inherit;
        font-synthesis                : inherit;
        font-synthesis-position       : inherit;
        font-synthesis-small-caps     : inherit;
        font-synthesis-style          : inherit;
        font-synthesis-weight         : inherit;
        font-variant-alternates       : inherit;
        font-variant-caps             : inherit;
        font-variant-east-asian       : inherit;
        font-variant-emoji            : inherit;
        font-variant-ligatures        : inherit;
        font-variant-numeric          : inherit;
        font-variant-position         : inherit;
        font-variation-settings       : inherit;
        font-weight                   : inherit;
        hyphenate-character           : inherit;
        hyphenate-limit-chars         : inherit;
        line-height                   : inherit;
        line-height-step              : inherit;
        text-size-adjust              : inherit;
        text-spacing-trim             : inherit;
        text-underline-position       : inherit
      }
        /* Pseudo > ::-moz-focus-inner */
        input[type=file /* i */]::file-selector-button::-moz-focus-inner {
          padding-bottom: 0px;
          padding-left  : 0px;
          padding-right : 0px;
          padding-top   : 0px
        }

      /* ::-ms-browse */
      input[type=file /* i */]::-ms-browse {
        -ebup-text-transform       : inherit;
        -ms-appearance             : button;
        -ms-font-feature-settings  : inherit;
        -ms-text-kashida-space     : inherit;
        -ms-text-underline-position: inherit;
        appearance                 : button;
        background-color           : whitesmoke;
        border-style               : none;
        color                      : dimgray;
        font-family                : inherit;
        font-feature-settings      : inherit;
        font-kerning               : inherit;
        font-optical-sizing        : inherit;
        font-palette               : inherit;
        font-palette               : inherit;
        font-size                  : inherit;
        font-size-adjust           : inherit;
        font-stretch               : inherit;
        font-style                 : inherit;
        font-synthesis             : inherit;
        font-synthesis-small-caps  : inherit;
        font-synthesis-style       : inherit;
        font-synthesis-weight      : inherit;
        font-variant-alternates    : inherit;
        font-variant-caps          : inherit;
        font-variant-east-asian    : inherit;
        font-variant-emoji         : inherit;
        font-variant-ligatures     : inherit;
        font-variant-numeric       : inherit;
        font-variant-position      : inherit;
        font-variation-settings    : inherit;
        font-weight                : inherit;
        hyphenate-character        : inherit;
        hyphenate-limit-chars      : inherit;
        line-height                : inherit;
        line-height-step           : inherit;
        text-size-adjust           : inherit;
        text-spacing-trim          : inherit;
        text-transform             : inherit;
        text-underline-position    : inherit
      }

      /* ::-webkit-file-upload-button */
      input[type=file /* i */]::-webkit-file-upload-button {
        -ebup-text-transform          : inherit;
        -webkit-appearance            : button;
        -webkit-font-feature-settings : inherit;
        -webkit-font-kerning          : inherit;
        -webkit-font-size-delta       : inherit;
        -webkit-font-smoothing        : inherit;
        -webkit-font-variant-ligatures: inherit;
        -webkit-hyphenate-character   : inherit;
        -webkit-text-size-adjust      : inherit;
        appearance                    : button;
        background-color              : whitesmoke;
        border-style                  : none;
        color                         : dimgray;
        font-family                   : inherit;
        font-feature-settings         : inherit;
        font-kerning                  : inherit;
        font-optical-sizing           : inherit;
        font-palette                  : inherit;
        font-palette                  : inherit;
        font-size                     : inherit;
        font-size-adjust              : inherit;
        font-stretch                  : inherit;
        font-style                    : inherit;
        font-synthesis                : inherit;
        font-synthesis-small-caps     : inherit;
        font-synthesis-style          : inherit;
        font-synthesis-weight         : inherit;
        font-variant-alternates       : inherit;
        font-variant-caps             : inherit;
        font-variant-east-asian       : inherit;
        font-variant-emoji            : inherit;
        font-variant-ligatures        : inherit;
        font-variant-numeric          : inherit;
        font-variant-position         : inherit;
        font-variation-settings       : inherit;
        font-weight                   : inherit;
        hyphenate-character           : inherit;
        hyphenate-limit-chars         : inherit;
        line-height                   : inherit;
        line-height-step              : inherit;
        text-size-adjust              : inherit;
        text-spacing-trim             : inherit;
        text-transform                : inherit;
        text-underline-position       : inherit
      }
        /* Pseudo > ::-moz-focus-inner */
        input[type=file /* i */]::-webkit-file-upload-button::-moz-focus-inner {
          padding-bottom: 0px;
          padding-left  : 0px;
          padding-right : 0px;
          padding-top   : 0px
        }

      /* ::-webkit-inner-spin-button, ::-webkit-outer-spin-button */
      input[type=number /* i */]::-webkit-inner-spin-button,
      input[type=number /* i */]::-webkit-outer-spin-button { height: auto }

      /* ::-webkit-search-decoration */
      input[type=search /* i */]::-webkit-search-decoration {
        -webkit-appearance: none;
        appearance        : none
      }

  /* <input>, <pre>, <textarea> */
  input[dir=auto /* i */][type=email  /* i */],
  input[dir=auto /* i */][type=search /* i */],
  input[dir=auto /* i */][type=tel    /* i */],
  input[dir=auto /* i */][type=url    /* i */],
  pre[dir=auto /* i */],
  textarea[dir=auto /* i */] { unicode-bidi: plaintext }

  /* <input>, <textarea> */
    /* Pseudo */
      /* Placeholder */
      input::placeholder, textarea::placeholder {
        -khtml-opacity: 0.25;
        -moz-opacity  : 0.25;
        color         : inherit;
        opacity       : 0.25
      }

      /* :-ms-input-placeholder */
      input:-ms-input-placeholder, textarea:-ms-input-placeholder {
        color: rgba(105, 105, 105, 0.25)
      }

      /* ::-ms-input-placeholder */
      input::-ms-input-placeholder, textarea::-ms-input-placeholder {
        color  : inherit;
        opacity: 0.25
      }

      /* ::-webkit-input-placeholder */
      input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color  : inherit;
        opacity: 0.25
      }

  /* <legend> */
  legend {
    color      : inherit;
    display    : table;
    max-width  : 100%;
    white-space: normal
  }

  /* <listing>, <plaintext>, <pre>, <xmp> */
  listing, plaintext, pre, xmp { white-space: pre }

  /* <mark> */
  mark {
    background-color: darkblue;
    color           : whitesmoke
  }

  /* <math> */
  math { font-size: math }

  /* <meter> */
  meter { background: whitesmoke }
    /* Pseudo */
      /* ::-moz-meter-bar */
      meter::-moz-meter-bar {
        background  : none;
        border-style: none;
        height      : 100%
      }
        meter:-moz-meter-optimum::-moz-meter-bar         { background: limegreen }
        meter:-moz-meter-sub-optimum::-moz-meter-bar     { background: goldenrod }
        meter:-moz-meter-sub-sub-optimum::-moz-meter-bar { background: firebrick }

      /* ::-webkit-meter-mar */
      meter::-webkit-meter-bar {
        -webkit-grid-row-end  : none;
        -webkit-grid-row-start: none;
        background            : none;
        border-style          : none;
        grid-row-end          : none;
        grid-row-start        : none
      }

      /* ::-webkit-meter-mar-… */
      meter::-webkit-meter-bar,
      meter::-webkit-meter-even-less-good-value,
      meter::-webkit-meter-optimum-value,
      meter::-webkit-meter-suboptimum-value { height: 100% }
        meter::-webkit-meter-even-less-good-value { background: firebrick }
        meter::-webkit-meter-optimum-value        { background: limegreen }
        meter::-webkit-meter-suboptimum-value     { background: goldenrod }

  /* <meter>, <progress> */
  meter, progress {
    -moz-appearance   : none;
    -ms-appearance    : none;
    -webkit-appearance: none;
    appearance        : none;
    height            : 16px;
    width             : 100px
  }
    /* Pseudo */
      /* ::-moz-meter-bar, ::-moz-progress-bar */
      meter::-moz-meter-bar,
      progress::-moz-progress-bar {
        -moz-transition-delay             : inherit;
        -moz-transition-duration          : inherit;
        -moz-transition-property          : background, width;
        -moz-transition-timing-function   : linear;
        -webkit-transition-delay          : inherit;
        -webkit-transition-duration       : inherit;
        -webkit-transition-property       : background, width;
        -webkit-transition-timing-function: linear;
        transition-behavior               : inherit;
        transition-delay                  : inherit;
        transition-duration               : inherit;
        transition-property               : background, width;
        transition-timing-function        : inherit
      }

      /* ::-webkit-meter-bar-, ::-webkit-progress-value */
      meter::-webkit-meter-bar,
      meter::-webkit-meter-even-less-good-value,
      meter::-webkit-meter-optimum-value,
      meter::-webkit-meter-suboptimum-value,
      progress::-webkit-progress-value {
        -o-transition-delay               : inherit;
        -o-transition-duration            : inherit;
        -o-transition-property            : background, inline-size, width;
        -o-transition-timing-function     : linear;
        -webkit-transition-delay          : inherit;
        -webkit-transition-duration       : inherit;
        -webkit-transition-property       : background, inline-size, width;
        -webkit-transition-timing-function: linear;
        transition-behavior               : inherit;
        transition-delay                  : inherit;
        transition-duration               : inherit;
        transition-property               : background, inline-size, width;
        transition-timing-function        : inherit
      }

  /* <nobr> */
  nobr { white-space: nowrap }
    /* <wbr>  */
    nobr wbr { white-space: normal }

  /* <ol> */
  ol {
    list-style     : decimal;
    list-style-type: decimal
  }

  /* <pre> */
  pre[wrap] { white-space: pre-wrap }

  /* <progress> */
  progress {
    -webkit-appearance: none;
    appearance        : none;
    outline-width     : 0px
  }
    /* Pseudo */
      /* ::-moz-progress-bar */
      progress::-moz-progress-bar { background-color: dodgerblue }

      /* ::-ms-fill */
      progress::-ms-fill {
        background-color: dodgerblue;
        border-style    : none
      }

      /* ::-webkit-progress-bar, ::-webkit-progress-value */
      progress::-webkit-progress-bar   { background      : none }
      progress::-webkit-progress-value { background-color: dodgerblue }

  /* <select> */
    /* Pseudo > ::-ms-expand */
    select::-ms-expand {
      background-color: whitesmoke;
      color           : dimgray
    }

  /* <sub> */
  sub {
    bottom               : -0.250em;
    font-variant-position: sub;
    vertical-align       : sub
  }

  /* <sub>, <sup> */
  sub, sup {
    font-size  : /* --> x-small */ 75%;
    line-height: 0.000;
    position   : relative
  }

  /* <summary> */
  summary { display: list-item }

  /* <sup> */
  sup {
    font-variant-position: super;
    top                  : -0.500em;
    vertical-align       : super
  }

  /* <svg> */
  svg { overflow: visible }

  svg|svg {
    image-rendering : pixelated;
    image-resolution: snap;
    overflow        : visible
  }

  /* <table> */
  table {
    border-collapse: collapse;
    border-spacing : 0;
    table-layout   : fixed
  }
    /* <tbody>, <tfoot>, <thead>, <td>, <tr> */
    table tbody, table tfoot, table thead, table td, table tr { vertical-align: inherit }

  /* <td> */
  td { overflow-wrap: anywhere }

  /* <textarea> */
  textarea                   { white-space: pre-wrap }
  textarea[wrap=off /* i */] { white-space: pre }

  /* <time> */
  time { font-variant-numeric: tabular-nums }

  /* <textarea> */
  textarea { overflow: auto }

  /* <ul> */
  ul {
    list-style     : square;
    list-style     : circle;
    list-style     : disc;
    list-style-type: square;
    list-style-type: circle;
    list-style-type: disc
  }

  /* <v:…> */
  v\:* {
    -ms-behavior: url(#default#VML);
    behavior    : url(#default#VML)
  }

/* At Rules */
  /* Media */
    /* Prefers Color Scheme > (Dark, Light) */
    @media (prefers-color-scheme: dark)  { a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video { font-palette: dark } }
    @media (prefers-color-scheme: light) { a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video { font-palette: light } }

    /* Print */
    @media print {
      * {
        -moz-print-color-adjust   : exact;
        -prince-image-magic       : ignore-icc-profile;
        -webkit-color-adjust      : exact;
        -webkit-print-color-adjust: exact;
        print-color-adjust        : exact
      }
    }

    /* Scripting > (Enabled, Initial Only) */
    @media (scripting) {
      noscript { display: none !important }
    }

  /* Starting Style */
  @starting-style { /* Do nothing… */ }

/* Components */
  /* Progressive Internet Explorer */
  button,
  .pie {
    -ms-behavior         : url(pie.htc);
    -pie-lazy-init       : true;
    -pie-png-fix         : true;
    -pie-poll            : false;
    -pie-track-active    : false;
    -pie-track-hover     : false;
    -pie-watch-ancestors : none;
    /* -pie-background   : …; */
    /* -pie-border-radius: …; */
    /* -pie-box-shadow   : …; */
    /* -pie-load-path    : …; */
    behavior             : url(pie.htc);
    position             : relative;
    zoom                 : 1
  }

  input[type=button /* i */],
  input[type=reset  /* i */],
  input[type=submit /* i */] {
    -ms-behavior: url(pie.htc);
    behavior    : url(pie.htc);
    position    : relative;
    zoom        : 1
  }
