@charset "utf-8";

/* At Rules > @font-face */
@font-face /* CITE (Lapys) -> Christian Schwartz, CSTM Fonts, Ilya Ruderman @ `https://type.today/en/Graphik`, `https://type.today/en/journal/graphikcondensed` */ {
  font-family: Graphik;
  font-weight: 400;
  src        : local("Graphik Comp Regular Trial"), url(../fonts/graphik.otf) format("opentype")
}
  @font-face {
    font-family: Graphik;
    font-weight: 100;
    src        : local("Graphik Comp Thin Trial"), local("Graphik Comp Regular Trial"), url(../fonts/graphik-thin.otf) format("opentype")
  }

  @font-face {
    font-display: fallback;
    font-family : Graphik;
    font-style  : italic;
    font-weight : 100;
    src         : local("Graphik Comp Thin Trial"), local("Graphik Comp Regular Trial"), url(../fonts/graphik-thin-italic.otf) format("opentype")
  }

  @font-face {
    font-family: Graphik;
    font-weight: 200;
    src        : local("Graphik Comp Exlight Trial"), local("Graphik Comp Regular Trial"), url(../fonts/graphik-extralight.otf) format("opentype")
  }

  @font-face {
    font-display: fallback;
    font-family : Graphik;
    font-style  : italic;
    font-weight : 200;
    src         : local("Graphik Comp Exlight Trial"), local("Graphik Comp Regular Trial"), url(../fonts/graphik-extralight-italic.otf) format("opentype")
  }

  @font-face {
    font-family: Graphik;
    font-weight: 300;
    src        : local("Graphik Comp Light Trial"), local("Graphik Comp Regular Trial"), url(../fonts/graphik-light.otf) format("opentype")
  }

  @font-face {
    font-display: fallback;
    font-family : Graphik;
    font-style  : italic;
    font-weight : 300;
    src         : local("Graphik Comp Light Trial"), local("Graphik Comp Regular Trial"), url(../fonts/graphik-light-italic.otf) format("opentype")
  }

  @font-face {
    font-display: fallback;
    font-family : Graphik;
    font-style  : italic;
    font-weight : 400;
    src         : local("Graphik Comp Regular Trial"), url(../fonts/graphik-italic.otf) format("opentype")
  }

  @font-face {
    font-family: Graphik;
    font-weight: 500;
    src        : local("Graphik Comp Medium Trial"), local("Graphik Comp Regular Trial"), url(../fonts/graphik-medium.otf) format("opentype")
  }

  @font-face {
    font-display: fallback;
    font-family : Graphik;
    font-style  : italic;
    font-weight : 500;
    src         : local("Graphik Comp Medium Trial"), local("Graphik Comp Regular Trial"), url(../fonts/graphik-medium-italic.otf) format("opentype")
  }

  @font-face {
    font-family: Graphik;
    font-weight: 600;
    src        : local("Graphik Comp Semibold Trial"), local("Graphik Comp Regular Trial"), url(../fonts/graphik-semibold.otf) format("opentype")
  }

  @font-face {
    font-display: fallback;
    font-family : Graphik;
    font-style  : italic;
    font-weight : 600;
    src         : local("Graphik Comp Semibold Trial"), local("Graphik Comp Regular Trial"), url(../fonts/graphik-semibold-italic.otf) format("opentype")
  }

  @font-face {
    font-family: Graphik;
    font-weight: 700;
    src        : local("Graphik Comp Bold Trial"), local("Graphik Comp Regular Trial"), url(../fonts/graphik-bold.otf) format("opentype")
  }

  @font-face {
    font-display: fallback;
    font-family : Graphik;
    font-weight : 700;
    font-style  : italic;
    src         : local("Graphik Comp Bold Trial"), local("Graphik Comp Regular Trial"), url(../fonts/graphik-bold-italic.otf) format("opentype")
  }

  @font-face {
    font-family: Graphik;
    font-weight: 800;
    src        : local("Graphik Comp Black Trial"), local("Graphik Comp Regular Trial"), url(../fonts/graphik-black.otf) format("opentype")
  }

  @font-face {
    font-display: fallback;
    font-family : Graphik;
    font-style  : italic;
    font-weight : 800;
    src         : local("Graphik Comp Black Trial"), local("Graphik Comp Regular Trial"), url(../fonts/graphik-black-italic.otf) format("opentype")
  }

  @font-face {
    font-family: Graphik;
    font-weight: 900;
    src        : local("Graphik Comp Super Trial"), local("Graphik Comp Regular Trial"), url(../fonts/graphik-super.otf) format("opentype")
  }

  @font-face {
    font-display: fallback;
    font-family : Graphik;
    font-style  : italic;
    font-weight : 900;
    src         : local("Graphik Comp Super Trial"), local("Graphik Comp Regular Trial"), url(../fonts/graphik-super-italic.otf) format("opentype")
  }

@font-face /* CITE (Lapys) -> Belleve (@be5invis) @ `https://typeof.net/Iosevka`, `https://github.com/be5invis` */ {
  font-family: Iosevka;
  font-weight: 400;
  src        : local(Iosevka), url(../fonts/iosevka.ttf) format("truetype")
}
  @font-face {
    font-family: Iosevka;
    font-weight: 100;
    src        : local("Iosevka Thin"), local(Iosevka), url(../fonts/iosevka-thin.ttf) format("truetype")
  }

  @font-face {
    font-display: fallback;
    font-family : Iosevka;
    font-style  : italic;
    font-weight : 100;
    src         : local("Iosevka Thin"), local(Iosevka), url(../fonts/iosevka-thin-italic.ttf) format("truetype")
  }

  @font-face {
    font-display: fallback;
    font-family : Iosevka;
    font-style  : oblique;
    font-weight : 100;
    src         : local("Iosevka Thin Oblique"), local(Iosevka), url(../fonts/iosevka-thin-oblique.ttf) format("truetype")
  }

  @font-face {
    font-family: Iosevka;
    font-weight: 200;
    src        : local("Iosevka Extralight"), local(Iosevka), url(../fonts/iosevka-extralight.ttf) format("truetype")
  }

  @font-face {
    font-display: fallback;
    font-family : Iosevka;
    font-style  : italic;
    font-weight : 200;
    src         : local("Iosevka Extralight"), local(Iosevka), url(../fonts/iosevka-extralight-italic.ttf) format("truetype")
  }

  @font-face {
    font-display: fallback;
    font-family : Iosevka;
    font-style  : oblique;
    font-weight : 200;
    src         : local("Iosevka Extralight Oblique"), local(Iosevka), url(../fonts/iosevka-extralight-oblique.ttf) format("truetype")
  }

  @font-face {
    font-family: Iosevka;
    font-weight: 300;
    src        : local("Iosevka Light"), local(Iosevka), url(../fonts/iosevka-light.ttf) format("truetype")
  }

  @font-face {
    font-display: fallback;
    font-family : Iosevka;
    font-style  : italic;
    font-weight : 300;
    src         : local("Iosevka Light"), local(Iosevka), url(../fonts/iosevka-light-italic.ttf) format("truetype")
  }

  @font-face {
    font-display: fallback;
    font-family : Iosevka;
    font-style  : oblique;
    font-weight : 300;
    src         : local("Iosevka Light Oblique"), local(Iosevka), url(../fonts/iosevka-light-oblique.ttf) format("truetype")
  }

  @font-face {
    font-display: fallback;
    font-family : Iosevka;
    font-style  : italic;
    font-weight : 400;
    src         : local(Iosevka), url(../fonts/iosevka.ttf) format("truetype")
  }

  @font-face {
    font-display: fallback;
    font-family : Iosevka;
    font-style  : oblique;
    font-weight : 400;
    src         : local(Iosevka), url(../fonts/iosevka.ttf) format("truetype")
  }

  @font-face {
    font-family: Iosevka;
    font-weight: 500;
    src        : local("Iosevka Medium"), local(Iosevka), url(../fonts/iosevka-medium.ttf) format("truetype")
  }

  @font-face {
    font-display: fallback;
    font-family : Iosevka;
    font-style  : italic;
    font-weight : 500;
    src         : local("Iosevka Medium"), local(Iosevka), url(../fonts/iosevka-medium-italic.ttf) format("truetype")
  }

  @font-face {
    font-display: fallback;
    font-family : Iosevka;
    font-style  : oblique;
    font-weight : 500;
    src         : local("Iosevka Medium Oblique"), local(Iosevka), url(../fonts/iosevka-medium-oblique.ttf) format("truetype")
  }

  @font-face {
    font-family: Iosevka;
    font-weight: 600;
    src        : local("Iosevka Semibold"), local(Iosevka), url(../fonts/iosevka-semibold.ttf) format("truetype")
  }

  @font-face {
    font-display: fallback;
    font-family : Iosevka;
    font-style  : italic;
    font-weight : 600;
    src         : local("Iosevka Semibold"), local(Iosevka), url(../fonts/iosevka-semibold-italic.ttf) format("truetype")
  }

  @font-face {
    font-display: fallback;
    font-family : Iosevka;
    font-style  : oblique;
    font-weight : 600;
    src         : local("Iosevka Semibold Oblique"), local(Iosevka), url(../fonts/iosevka-semibold-oblique.ttf) format("truetype")
  }

  @font-face {
    font-family: Iosevka;
    font-weight: 700;
    src        : local(Iosevka), url(../fonts/iosevka-bold.ttf) format("truetype")
  }

  @font-face {
    font-display: fallback;
    font-family : Iosevka;
    font-style  : italic;
    font-weight : 700;
    src         : local(Iosevka), url(../fonts/iosevka-bold-italic.ttf) format("truetype")
  }

  @font-face {
    font-display: fallback;
    font-family : Iosevka;
    font-style  : oblique;
    font-weight : 700;
    src         : local("Iosevka Oblique"), local(Iosevka), url(../fonts/iosevka-bold-oblique.ttf) format("truetype")
  }

  @font-face {
    font-family: Iosevka;
    font-weight: 800;
    src        : local("Iosevka Extrabold"), local(Iosevka), url(../fonts/iosevka-extrabold.ttf) format("truetype")
  }

  @font-face {
    font-display: fallback;
    font-family : Iosevka;
    font-style  : italic;
    font-weight : 800;
    src         : local("Iosevka Extrabold"), local(Iosevka), url(../fonts/iosevka-extrabold-italic.ttf) format("truetype")
  }

  @font-face {
    font-display: fallback;
    font-family : Iosevka;
    font-style  : oblique;
    font-weight : 800;
    src         : local("Iosevka Extrabold Oblique"), local(Iosevka), url(../fonts/iosevka-extrabold-oblique.ttf) format("truetype")
  }

  @font-face {
    font-family: Iosevka;
    font-weight: 900;
    src        : local("Iosevka Heavy"), local(Iosevka), url(../fonts/iosevka-heavy.ttf) format("truetype")
  }

  @font-face {
    font-display: fallback;
    font-family : Iosevka;
    font-style  : italic;
    font-weight : 900;
    src         : local("Iosevka Heavy"), local(Iosevka), url(../fonts/iosevka-heavy-italic.ttf) format("truetype")
  }

  @font-face {
    font-display: fallback;
    font-family : Iosevka;
    font-style  : oblique;
    font-weight : 900;
    src         : local("Iosevka Heavy Oblique"), local(Iosevka), url(../fonts/iosevka-heavy-oblique.ttf) format("truetype")
  }

@font-face {
  font-family: Rajdhani;
  font-weight: 400;
  src        : local(Rajdhani), url(../fonts/rajdhani.ttf) format("truetype")
}
  @font-face {
    font-family: Rajdhani;
    font-weight: 100 300;
    src        : local("Rajdhani Light"), url(../fonts/rajdhani-light.ttf) format("truetype")
  }

  @font-face {
    font-family: Rajdhani;
    font-weight: 500;
    src        : local("Rajdhani Medium"), url(../fonts/rajdhani-medium.ttf) format("truetype")
  }

  @font-face {
    font-family: Rajdhani;
    font-weight: 600;
    src        : local("Rajdhani Semibold"), url(../fonts/rajdhani-semibold.ttf) format("truetype")
  }

  @font-face {
    font-family: Rajdhani;
    font-weight: 700 900;
    src        : local("Rajdhani Bold"), url(../fonts/rajdhani-bold.ttf) format("truetype")
  }

/* DOM Elements */
  /* <body> */
  body { font-family: Graphik, "Open Sans", "Calibri Light", Calibri, sans-serif }

  /* <code>, <kbd>, <pre>, <samp> */
  code, kbd, pre, samp { font-family: Iosevka, monospace }

  /* <h1>, <h2>, <h3>, <h4>, <h5>, <h6> */
  h1, h2, h3, h4, h5, h6 {
    font-family: Rajdhani, Graphik, "Open Sans", "Calibri Light", Calibri, sans-serif;
    font-weight: 500
  }
