@charset "utf-8";

/* Element */
  /* <body>, <head> */
  body, head {
    border-color : dodgerblue;
    outline-color: dodgerblue
  }

  /* (<body>, <head>, <html>) > All */
  body > *, head > *, html > * > * {
    border-color : limegreen;
    outline-color: limegreen
  }

  /* All */
  * {
    border-style  : dashed;
    border-width  : 0.5px;
    corner-shape  : round; /* --> superellipse(1) */
    outline-offset: 0px;
    outline-style : dashed !important;
    outline-width : 1px    !important
  }

  *, body > * *, head > * * {
    border-color : rgba(96, 0,  0,  0.80);
    outline-color: rgba(96, 96, 96, 0.80)
  }

  /* <html> */
  html {
    border-color : orangered;
    outline-color: orangered
  }
    /* Pseudo > After */
    html::after {
      background-position: center                                             !important;
      background-size    : contain                                            !important;
      bottom             : 2.00%                                              !important;
      color              : rgb(0, 0, 0)                                       !important;
      content            : ""                                                 !important;
      display            : inline-block                                       !important;
      filter             : invert(1) drop-shadow(0 0 1px rgba(0, 0, 0, 0.85)) !important;
      height             : 65px                                               !important;
      object-fit         : contain                                            !important;
      opacity            : 0.85                                               !important;
      pointer-events     : none                                               !important;
      position           : absolute                                           !important;
      position           : fixed                                              !important;
      stroke             : rgb(0, 0, 0)                                       !important;
      right              : 2.50%                                              !important;
      text-align         : center                                             !important;
      vertical-align     : middle                                             !important;
      width              : 65px                                               !important;
      -moz-user-input    : none                                               !important
    }

/* At Rules > Media */
  /* Landscape */
  @media (min-aspect-ratio: 4/3), (min-width: 769px), (width > 768px) {
    /* Element > <html> > Pseudo > After */
    html::after { content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NSIgaGVpZ2h0PSI2NSIgdmlld0JveD0iMCAwIDEuNjI1IDEuNjI1Ij48cGF0aCBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xLjQ2MyAxLjA1NmEuMDguMDggMCAwIDEtLjA4Mi4wODFILjI0NGEuMDguMDggMCAwIDEtLjA4MS0uMDhWLjI0M2MwLS4wNDUuMDM2LS4wODIuMDgxLS4wODJoMS4xMzdjLjA0NSAwIC4wODIuMDM3LjA4Mi4wODJ6TTEuNDYyIDBoLTEuM0EuMTYzLjE2MyAwIDAgMCAwIC4xNjR2Ljk3Ny0uMDAyYzAgLjA5LjA3Mi4xNjEuMTYyLjE2MUguNjVjLjA0NSAwIC4wODMuMDM4LjA4My4wODMgMCAuMDQ0LS4wMzguMDgtLjA4My4wOEguNDA2YS4wOC4wOCAwIDAgMC0uMDguMDgyYzAgLjA0NC4wMzUuMDguMDguMDhoLjgxMmEuMDguMDggMCAwIDAgLjA4Mi0uMDguMDgzLjA4MyAwIDAgMC0uMDgyLS4wODJILjk3NGEuMDguMDggMCAwIDEtLjA4LS4wOGMwLS4wNDYuMDM1LS4wODMuMDgtLjA4M2guNDg4di4wMDJjLjA5IDAgLjE2My0uMDcxLjE2My0uMTYxVi4xNjZhLjE2NC4xNjQgMCAwIDAtLjE2My0uMTY0eiIvPjwvc3ZnPg==) / "landscape" !important }

    /* Components > Portrait */
    .portait {
      bottom  : initial       !important;
      filter  : opacity(0.25) !important;
      left    : initial       !important;
      position: absolute      !important;
      right   : initial       !important;
      top     : initial       !important;
      z-index : -1
    }
  }

  /* Portrait */
  @media (max-aspect-ratio: 3/4), (max-width: 768px), (width <= 768px) {
    /* Element > <html> > Pseudo > After */
    html::after { content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NSIgaGVpZ2h0PSI2NSIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDEuMyAxLjMiPjxnIGZpbGw9IiMwMDAiPjxwYXRoIGQ9Ik0uNjUuOTc1YS4wODEuMDgxIDAgMSAwIDAgLjE2Mi4wODEuMDgxIDAgMSAwIDAtLjE2MnoiIHN0eWxlPSJzdHJva2Utd2lkdGg6LjA4MTI0OTgiLz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0uMzQ1IDBhLjE4My4xODMgMCAwIDAtLjE4Mi4xODN2LjkzNGEuMTgzLjE4MyAwIDAgMCAuMTgyLjE4M2guNjFhLjE4My4xODMgMCAwIDAgLjE4My0uMTgzVi4xODNBLjE4My4xODMgMCAwIDAgLjk1NCAwWm0tLjA2LjE4M2EuMDYuMDYgMCAwIDEgLjA2LS4wNjFoLjYxYS4wNi4wNiAwIDAgMSAuMDYuMDZ2LjkzNWEuMDYuMDYgMCAwIDEtLjA2LjA2MWgtLjYxYS4wNi4wNiAwIDAgMS0uMDYtLjA2WiIgY2xpcC1ydWxlPSJldmVub2RkIiBzdHlsZT0ic3Ryb2tlLXdpZHRoOi4wODEyNDk4Ii8+PC9nPjwvc3ZnPg==) / "portrait" !important }

    /* Components > Landscape */
    .landscape {
      bottom  : initial       !important;
      filter  : opacity(0.25) !important;
      left    : initial       !important;
      position: absolute      !important;
      right   : initial       !important;
      top     : initial       !important;
      z-index : -1
    }
  }
